#header .profile {
  height: 160px;
  width: 160px;
  display: inline-block;
  position: relative;
}

.profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flex {
  display: flex;
}

ul.labeled-icons li:first-child {
  margin: 0;
}

ul.labeled-icons li {
  margin-top: 0;
  margin-left: 20px;
}

#header > .inner {
  width: 80%;
  height: 90%;
}
